.login-form {
  width: 40%;
  margin: auto;
  padding: 20px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

#login {
  /* margin-top: 50%; */
  margin-bottom: 100px;
}

form {
  display: grid;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.login-form h2 {
  text-align: center;
  /* color: teal; */
  color: blue;
}

.login-form-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form-child label {
  margin-bottom: 5px;
}

.login-form-child input {
  width: 400px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(167, 167, 255, 0.57);
  outline:none; 
  transition: border-color 0.3s ease;
}

.login-form-child input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 5px blue;
}

.login-form-child.login-submit-btn {
  display: flex;
  justify-content: center;
}

.login-form-child.login-submit-btn input {
  /* background-image: linear-gradient(-45deg, #6666ff, skyblue); */
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  background-size: 200% auto;
  color: white;
  font-weight: bold;
  width: 422px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}
.login-form-child.login-submit-btn input:hover{

  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .login-form {
    width: 90%;
  }

  .login-form-child input {
  }

  .login-form-child.login-submit-btn input {
  }
}

@media (max-width: 600px) {
  .login-form {
    width: 80%;
  }

  .login-form-child input {
    width: 100%;
  }

  .login-form-child.login-submit-btn input {
    width: 100%;
  }
}
