.form {
  width: 40%;
  margin: auto;
  /* border: 1px solid red; */
  /* text-align: center; */
  padding: 20px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
#signup{
  margin-bottom: 80px;
  margin-top: 100px;
}
form {
  display: grid;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
.form h2 {
  text-align: center;
  color: teal;
}
.form-child {
  display: flex;
  justify-content: space-between;
}
.form-child input {
  width: 400px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(215, 214, 214);
}
.submit-btn input {
  background-image: linear-gradient(-45deg,#6666ff,skyblue);
  color: white;
  font-weight: bold;
}


@media (max-width: 600px) {
  .form {
    width: 80%;
  }

  .form-child input {
    width: 100%;
  }
  .form-child {
    flex-direction: column;
    gap: 10px;
  }
}